<footer>
    <div>
        <h5>CONTACT</h5>
        <p>07 81 62 47 62</p>
        <p>emilien.benard2@gmail.com </p>
        <p>Besançon</p>
    </div>
    <div>
        <h5>FOLLOW ME</h5>
        <a href="https://www.linkedin.com/in/emilien-benard-665724204/" target="_blank"><img src="images/linkedin.png" width="20" height="20" alt="linkedin"></a>
        </div>
</footer>